{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="max-w-md mx-auto p-6 bg-white rounded-xl shadow-md space-y-4 font-sans">
  <h1 class="text-2xl font-bold text-gray-800">{{ book.title }}</h1>
  <a href="{{ path('app_book_index') }}" class='a' aria-label='Retourner sur le catalogue des livres'>Retour dans le catalogue</a>

  {% if not isLiked %}
  <form class="likes" action="{{ path('app_book_like', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="heart-button like-button">
      {# TODO icone pour liké un livre : coeur rouge sombre qui bat#}
    </button>
  </form>
{% else %}
  <form class="likes" action="{{ path('app__unlike', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="heart-button unlike-button">
      {# TODO icone pour unliké un livre : coeur rouge vif qui bat#}
    </button>
  </form>
{% endif %}

{# TODO suite des infos du livre #}


  {% if not isRented %}
  <form class="likes" action="{{ path('app_book_borrow', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="heart-button like-button">
      {# TODO icone pour emprunter un livre #}
      Emprunter le livre
    </button>
  </form>
  {% else %}
  <form class="likes" action="{{ path('app__return', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="heart-button unlike-button">
      {# TODO icone pour retourner un livre #}
      Rendre le livre
    </button>
  </form>
  <form class="likes" action="{{ path('app_book_pdf', {'file': book.getFile()}) }}" method="POST">
    <button type="submit" class="heart-button like-button">
       {# TODO  icone oeil#}
      Lire
    </button>
  </form>
{% endif %}

</div>
{% endblock %}
