{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="max-w-md mx-auto p-6 bg-white rounded-xl shadow-md space-y-4 font-sans">
  <h1 class="text-2xl font-bold text-gray-800">{{ book.title }}</h1>
  <a href="{{ path('app_book_index') }}" class="text-blue-500 underline">
    ⬅️ Retour à la liste
  </a>

{% if not isLiked %}
  <form class="likes mt-4" action="{{ path('app_book_like', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="flex items-center space-x-2 px-4 py-2 bg-red-500 text-white rounded">
      ❤️ 
    </button>
  </form>
  {% else %}
  <form class="likes mt-4" action="{{ path('app_book_unlike', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="flex items-center space-x-2 px-4 py-2 bg-gray-500 text-white rounded">
      💔 
    </button>
  </form>
  {% endif %}

  {# Infos sur le livre #}
  <div class="border-t border-gray-300 pt-4">
    <p><strong>Auteur :</strong> {{ book.author }}</p>
    <p><strong>Date de publication :</strong> {{ book.releasedAt|date("d/m/Y") }}</p>
    <p><strong>Résumé :</strong> {{ book.abstract }}</p>
  </div>


  {# Section Emprunt #}
  {% if not isRented %}
  <form class="likes mt-4" action="{{ path('app_book_borrow', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="flex items-center space-x-2 px-4 py-2 bg-green-500 text-white rounded">
      📖 <span>Emprunter le livre</span>
    </button>
  </form>
  {% else %}
  <form class="likes mt-4" action="{{ path('app_book_return', {'ref': book.getRef()}) }}" method="POST">
    <button type="submit" class="flex items-center space-x-2 px-4 py-2 bg-red-500 text-white rounded">
      🔄 <span>Rendre le livre</span>
    </button>
  </form>
  <a href="{{ path('app_book_pdf', {'ref': book.ref}) }}" target="_blank" class="text-blue-500">👁️ <span>Lire</span></a>
  {% endif %}
</div>
{% endblock %}
