{% extends 'base.html.twig' %} {% block title %}Mes emprunts{% endblock %} {%
block body %}
<div class="container mx-auto p-6">
  <h1 class="text-2xl font-semibold text-gray-800 mb-4">
    Mes emprunts en cours
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for item in rentings %}
    <div
    class="bg-white rounded-lg shadow-md overflow-hidden h-full flex flex-col"
  >
    <div class="h-40 bg-gray-300 relative">
      {% if item.book.getImageUrl() %}
      <img
        src="{{ item.book.getImageUrl() }}"
        alt="{{ item.book.title }}"
        class="w-full h-full object-cover"
      />
      {% else %}
      <div
        class="w-full h-full flex items-center justify-center bg-gray-200"
      >
        <span class="text-gray-500">Pas d'image</span>
      </div>
      {% endif %} {% if item.book.isForAdult %}
      <div
        class="absolute top-1 left-1 bg-red-500 text-white text-xs px-2 py-1 rounded"
      >
        18+
      </div>
      {% endif %}
      <span class="flex items-center text-sm absolute top-1 right-1">
          {% if not item.book.likes.contains(app.user) %}
          <form
            class="likes"
            action="{{ path('app_book_like', { ref: item.book.getRef() }) }}"
            method="POST"
          >
            <button
              type="submit"
              class="flex items-center space-x-2 text-white rounded"
            >
            {{
              ux_icon("mdi:heart-broken", {
                class: "h-2 heart-broken-icon"
              })
            }}
            </button>
          </form>
          {% else %}
          <form
            class="likes"
            action="{{
              path('app_book_unlike', { ref: item.book.getRef() })
            }}"
            method="POST"
          >
            <button
              type="submit"
              class="flex items-center space-x-2 text-white rounded"
            >
              {{ ux_icon("mdi:heart", { class: "h-2 heart-icon" }) }}
            </button>
          </form>
          {% endif %}
        </span>
    </div>
    <div class="p-4 flex-grow flex flex-col">
      <a href="{{ path('app_book_show', {'ref': item.book.ref })}}"> <h3 class="font-semibold text-lg mb-1 line-clamp-1">
        {{ item.book.title }}
      </h3></a>
      <p class="text-sm text-gray-500 mb-2">Par {{ item.book.author }}</p>
      <p class="text-sm text-gray-600 mb-3 line-clamp-2">
        {{ item.book.abstract|default('Aucun résumé disponible.') }}
      </p>
      <div class="mt-auto flex items-center justify-between">
        <span
          class="text-sm text-gray-500"
          >{{ item.book.releasedAt|date('d/m/Y') }}</span
        >
      </div>
      <p class="text-gray-600 text-sm">
        Emprunté le :
        {{ item.start|date_modify('+1 hour')|date('d/m/Y H:i') }}
      </p>
      <p class="text-gray-600 text-sm">
        Retour prévu : {{ item.end|date('d/m/Y H:i') }}
      </p>
    </div>
    <div class="flex space-x-4 mt-4">
      <form class="likes" action="{{ path('app_book_return', {'ref': renting.book.getRef()}) }}" method="POST">
        <button type="submit" class="heart-button unlike-button">
          Rendre le livre
        </button>
      </form>
      <a href="{{ path('app_book_pdf', {'ref': renting.book.ref}) }}" method="POST" target="_blank">Lire</a>
    </div>
  </div>
    {% else %}
    <p class="text-gray-500 col-span-full text-center">
      Aucun emprunt en cours.
    </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
