{% extends 'base.html.twig' %} {% block title %}Mes emprunts{% endblock %} {%
block body %}
<div class="container mx-auto p-6">
  <h1 class="text-2xl font-semibold text-gray-800 mb-4">
    Mes emprunts en cours
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for renting in rentings %}
    <div class="bg-white shadow-md rounded-lg p-4">
      <h2 class="text-lg font-semibold text-gray-800">
        <a
          href="{{ path('app_book_show', { ref: renting.book.ref }) }}"
          class="text-blue-500 hover:underline"
        >
          {{ renting.book.title }}
        </a>
      </h2>
      <p class="text-gray-600 text-sm">
        Emprunté le :
        {{ renting.start|date_modify('+1 hour')|date('d/m/Y H:i') }}
      </p>
      <p class="text-gray-600 text-sm">
        Retour prévu : {{ renting.end|date('d/m/Y H:i') }}
      </p>
      <div class="flex space-x-4 mt-4">
        {% if not renting.book.likes.contains(app.user) %}
        <form class="likes" action="{{ path('app_book_like', {'ref': renting.book.getRef()}) }}" method="POST">
          <button type="submit" class="heart-button like-button">
            {# TODO icone pour liké un livre : coeur rouge sombre qui bat#}
            Like
          </button>
        </form>
      {% else %}
        <form class="likes" action="{{ path('app_book_unlike', {'ref': renting.book.getRef()}) }}" method="POST">
          <button type="submit" class="heart-button unlike-button">
            {# TODO icone pour unliké un livre : coeur rouge vif qui bat#}
            Unlike
          </button>
        </form>
      {% endif %}
      </div>
      <div class="flex space-x-4 mt-4">
        <form class="likes" action="{{ path('app_book_return', {'ref': renting.book.getRef()}) }}" method="POST">
          <button type="submit" class="heart-button unlike-button">
            {# TODO icone pour retourner un livre #}
            Rendre le livre
          </button>
        </form>
        <a href="{{ path('app_book_pdf', {'ref': renting.book.ref}) }}" method="POST" target="_blank">Lire</a>
      </div>
    </div>
    {% else %}
    <p class="text-gray-500 col-span-full text-center">
      Aucun emprunt en cours.
    </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
